{% extends "layout/back.html"%}
{%block main %}
<h1 class="mt-4">在此處留言，讓我們的網站更符合您的期待</h1>
<table class="table" style="width: 1200px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">名字</th>
        <th scope="col">對此網站的意見</th>
      </tr>
    </thead>
    <tbody>
      {%for i in range(data|length) %}
        <tr>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ data[i].s_name }}</td>
            <td>{{ data[i].s_sug }}</td>
            <td>
              <div class="row">
                <div class="col">
                  <a type="button" class="btn btn-outline-success mx-4" href="/edit/{{ data[i].id }}">修改</a>
                </div>
                <div class="col">
                  <form action="/deletesug/{{ data[i].id }}" method="post">
                    <button class="btn btn-outline-danger" onclick="if(confirm('您確定要刪除嗎？')) return true;else return false">刪除</button>
                  </form>
              </div>
              </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <script>Success('{{message}}')</script>
        {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}